*{
    background-color: rgba(243, 245, 252, 1);
    font-family: inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

header {
    position: absolute;
}

.logo{
    margin: 40px;
}

main {
    display: flex;
    gap: 40px;
    
}

.text-area {
    border: none;
    color: rgba(10, 56, 113, 1);
    font-size: 32px;
    text-transform: lowercase;
    margin-left: 240px;
    margin-top: 168px;
    width: 577px;
    height: 400px;
}

::placeholder{color: rgba(10, 56, 113, 1);}
.text-area:focus {
    outline: none;
}

.resultado {
    background-color: white;
    background-image: url(../images/Muñeco.jpg), url(../images/Frame5.jpg);
    background-position: left top 40px, left center;
    background-repeat: no-repeat, no-repeat;
    background-position-x: center, center;
    border: none;
    color: rgba(73, 80, 87, 1);
    border-radius: 32px;
    margin-top: 40px;
    width: 640px;
    height: 830px;
    margin-left: 200px;
    gap: 16px;
    position: fixed;
}

.resultado:focus {
    outline: none;
}

.botones {
    display: flex;
    gap: 24px;
    margin-left: 240px;
}

.btn-encriptar {
    background-color: rgba(10, 56, 113, 1);
    border: 1px solid rgba(10, 56, 113, 1);
    border-radius: 24px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    border: 1px solid rgba(10, 56, 113, 1);
    border-radius: 24px;
    color: rgba(10, 56, 113, 1);
    font-size: 16px;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid rgba(10, 56, 113, 1);
    border-radius: 24px;
    color: rgba(10, 56, 113, 1);
    cursor: pointer;
    font-size: 16px;
    margin-left: 370px;
    margin-top: 785px;
    height: 67px;
    width: 328px;
    position: absolute;
}

.alerta {
    color: rgba(73, 80, 87, 1);
    font-size: 12px;
    margin-left: 240px;
    margin-top: 150px;
}

p{
    color: rgba(73, 80, 87, 1);
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 10px;
}
